<div class="home-banner">
  <h1>London Restaurant finder</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2>Find some of the best Indian and Chinese restaurants in London</h2>
        <form action="/restaurants" method="get">
            <input type="text" name="food_type" placeholder="Chinese or Indian?">
            <input type="submit">
        </form>
    </div>
  </div>
</div>
</div>










