.home-banner {
  background-color: white;
  height: 100vh;
  color: #555555;
  text-align: center;
  padding-top: 40vh;
}

.show-banner {
  background-color: white;
  background-size: cover;
  height: 100vh;
  color: #555555;
  text-align: center;
  padding-top: 40vh;
}

.index-banner {
  background-color: white;
  height: 100vh;
  color: #555555;
  text-align: center;
  padding-top: 10vh;

}
